APIURL=https://api.sentryx.io/v1-wm/sites/
COMPANYID=sentryx-company-id-here
USERNAME=userid@domain.com
APIKEY=put-your-api-key-here

TITLE=Sentryx API
CONTACT_NAME=Jim Carter
CONTACT_EMAIL=jcarter@wwd.ca.gov

SQLSERVER=sqlserver
INSTANCE=myinstance
DATABASE=databasename
UID=username
PASSWORD=password

AMI_CODE=TC9999
